@font-face {
  font-family: 'MsMincho';
  src: local('MsMincho'), url(./fonts/MSMINCHO.TTF) format('truetype');
}

#root {
  font-family: MsMincho;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


