@font-face {
  font-family: "Ms Mincho";
  src: local("Ms Mincho"), url(./fonts/MSMINCHO.TTF) format("truetype");
}

:root {
  font-family: "Ms Mincho", serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
    font-family: "Ms Mincho", serif;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#main {
  max-width: 1280px;
  margin: 2em auto;
}

header h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.section-container {
  column-count: 2;
}

section {
  text-align: left;
  margin: 2px;
  display: inline-block;
}

.rider-items {
  display: flex;
  flex-direction: column;
}

.checkbox > input {
  transition-duration: 0.3s;
}

.checkbox {
  margin: 1em
}

.not-checked {
  text-decoration: line-through;
  text-decoration-thickness: from-font;
}

.exhibition {
  margin: 2em 1em 0;
  font-size: 1.1em;
  color: grey;
}

.exhibition-field {
  display: flex;
}

.exhibition label {
  margin: 0 0.5em 0 0;
}

.dates {
  display: flex;
}

.exhibition input {
  flex: 1;
  font-family: MsMincho;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid grey;
  margin: 0 1em 1.5em 0;
}

.signatories {
  flex: 1 1;
  margin-right: 1em;
}

.signer {
    display: flex;
    gap: 2em;
    margin: 4em 0 0;
}

.signer input {
  flex: 1;
  display: inline-block;
  border: none;
  border-top: 1px solid;
  font-family: MsMincho;
  background-color: transparent;
}

button {
  background: transparent;
  padding: .5em;
}

.add {
  margin: 1em 0;
}

@media (max-width: 400px) {
  :root {
    display:flex;
    flex-direction:column;
  }
  #main {
    width: 380px;
    margin: 0 auto;
  }
  header h1 {
    font-size: 2em;
    line-height: 1.1;
    margin: 0;
}
}
@media (min-width: 401px) and (max-width: 1180px) {
  :root {
    display:flex;
    flex-direction:column;
  }
  #main {
    width: 80vw;
    margin: 0 2em;
  }

  
.section-container {
  column-count: 1;
}

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media print {
  @page {
    size: auto;
    margin: 0mm;
  }

  body {
    margin: 2em;
  }

  .print,
  .add,
  .remove,
  .description {
    display: none;
    visibility: hidden;
  }

  header {
    break-after: avoid-page;
    page-break-after: avoid;
  }

  header h1 {
    font-size: 32px;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  .page,
  .page-break {
    page-break-before: always;
  }


  input[type='checkbox'] {
    display: none;
  }

}