@font-face {
  font-family: "Ms Mincho";
  src: local("Ms Mincho"), url(./fonts/MSMINCHO.TTF) format("truetype");
}

#root {
  font-family: "Ms Mincho";
  max-width: 1280px;
  margin: 0 auto;
}

.rider {
  margin: 1em;
  column-count: 2;
}

section {
  text-align: left;
  margin: 2px;
  display: inline-block;
}

section ul {
  text-align: left;
  padding: 0.5rem;
}

section li {
  list-style-type: none;
}

.rider-items {
  text-align: left;
}

.checkbox > input {
  transition-duration: 0.3s;
}

.checkbox {
  margin: 1em
}

.not-checked {
  text-decoration: line-through;
}

.exhibition {
  margin: 2em 1em 0;
  font-size: 1.1em;
  color: grey;
}

.exhibition-field {
  display: flex;
}

.exhibition label {
  margin: 0 0.5em 0 0;
}

.dates {
  display: flex;
}

.exhibition input {
  flex: 1;
  font-family: MsMincho;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid grey;
  margin: 0 1em 1.5em 0;
}

.signatory {
  display: flex;
  justify-content: space-between;
  margin-top: 1em
}

.signatory button {
  font-family: MsMincho;
  font-size: 1em;
  padding: 0.5em;
  margin-right: 1em;
  border: 1px solid;
  float: right;
  height: 2em;
}

.signatories {
  flex: 1 1;
  margin-right: 1em;
}

.signer {
  display: flex;
}

.signer input {
  flex: 1;
  display: inline-block;
  border: none;
  border-top: 1px solid;
  font-family: MsMincho;
  font-size: 1em;
  margin: 3em 0 0 0;
}

@media print {
  input[type='checkbox'] {
    display: none;
  }
}
